table {
  margin: 20px auto;
  border-collapse: collapse;
}
thead tr {
  background: #222;
  color: #eee;
}
thead, tbody {
  border: 1px solid black;
}
tbody tr:nth-child(2n) {
  background: #ddd;
  
}
tbody td {
  padding: 1px 4px;
  text-align:right;
}
p#buttons {
  padding: 40px 0 0 0;
  visibility: hidden;
  display:flex;
  align-items: left;
  gap: 10px;
}
p#buttons button {
  min-height: 37px;
  display:flex;
  align-items: center;
  justify-content:center;
}
