body {
  background: black;
  position: relative;
  margin: 2px;
}
main {
  display: block;
  position: relative;
  background-color: transparent;
    width: calc(100dvw - 4px);
    height: calc(100dvh - 4px);
  margin: 0;
  top: 0;
  left: 0;
  }
:root {
  --rightness: 5dvmax;
  --topness: 0dvmax;
}
main * {
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .clock {
    display: block;
    position: absolute;
  text-align: center;
    width: fit-content;
    height: 14.5dvmax;
    right: var(--rightness);
    top: var(--topness);
  }
  .clock>span {
    margin: auto;
    color: red;
    opacity: 0.2;
    font-size: 20dvmax;
    line-height: 0.7;
  }
  .clock small {
  font-size: 10dvmax !important;
}
  @media (orientation: portrait) {
    .clock {
    transform-origin: bottom right;
      transform: translateY(-14.50dvmax) rotate(-90deg);
    }
  }
  
